---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

const projects = [
  {
    title: "ExploreEase",
    img: "/projects/exploreease.png",
    desc: "ExploreEase is a modern travel booking platform offering curated tour packages, real-time booking, dynamic pricing, secure Midtrans payment, and user-friendly experience.",
    url: "https://explore-ease-three.vercel.app/",
    tags: ['Next.js', 'Typescript' , 'MongoDB', 'Tailwind', 'Midtrans']
  },
  {
    title: "Arki",
    img: "/projects/arki.png",
    desc: "Arki is a centralized platform for Indonesia’s boarding house community, featuring a trusted database of technicians, suppliers, and a blacklist to help users avoid fraud and unreliable services.",
    url: "https://arki.or.id/",
    tags: ['PHP', 'Mysql', 'Jquery', 'Bootstrap']
  },
  {
    title: "Konten Digital",
    img: "/projects/kontendigital.png",
    desc: "Konten Digital is a digital marketing platform offering services like press releases, media backlinks, press conferences, article writing, scriptwriting, and content creator training to enhance brand visibility with impactful content.",
    url: "https://kontendigital.id/",
    tags: ['PHP', 'Mysql', 'Jquery', 'Bootstrap']
  },
  {
    title: "Starrising Mart",
    img: "/projects/starrising.png",
    desc: "Starrising Mart is an online store offering food, personal care, baby needs, and household essentials for a convenient everyday shopping experience.",
    url: "https://starrisingmart.com/",
    tags: ['PHP', 'Mysql', 'Jquery', 'Bootstrap']
  },
  {
    title: "Imaginemate",
    img: "/projects/imaginemate.png",
    desc: "Explore a collection of imaginative and visually stunning images created by IMATE. Share your boundless imagination and artistic flair with others",
    url: "https://imatesite.vercel.app",
    tags: ['React', 'MongoDB', 'Nodejs', 'Tailwind']
  },
  {
    title: "Tic Tac Toe Game",
    img: "/projects/tic-tac-toe.png",
    desc: "The “Tic Tac Toe Game” website is an online platform that provides a digital version of the classic game Tic Tac Toe, also known as X and O",
    url: "https://tic-tac-toe-gray-xi.vercel.app",
    tags: ['React']
  },
]

---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Adnan Rohmat Kurniansah</div>
    <div class="text-3xl py-3 font-bold">Fullstack developer</div>
    <div class="py-2">
      <text class="text-lg">
        My expertise lies in web development and I have a understanding of both front-end and back-end technologies. I have a deep interest in technology and it drives me to constantly seeking opportunities to expand my knowledge and improve my skills.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/adnan-rohmat-kurniansah-41576827a/" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  {projects.map((project, i) => (
    <HorizontalCard
      key={i}
      title={project.title}
      img={project.img}
      desc={project.desc}
      url={project.url}
      tags={project.tags}
      target="_blank"
    />
    <div class="divider my-0"></div>
  ))}
  
  <h1 class="pt-8 text-lg">See more projects in <a class="text-blue-600" href="https://github.com/AdnanRohmatKurniansah" target="_blank">my github</a></h1>
  
</BaseLayout>
